@import "@pluralsight/ps-design-system-core/css/index.css";
.slide {
  composes: slide from "./index.module.css";
}
.titleBar {
  height: 4px;
  width: 75%;
  background: var(--psColorsGradientHorz);
  margin-bottom: var(--psLayoutSpacingLarge);
}
